<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	
</head>
	<body>
		<div class="container">
	    <div class="jumbotron">
	      <h1>Check out these burgers</h1>

		  <h3>Create new burgers to devour</h3>
	      <hr>
	      
	    </div>
	    <div class="row">
			{{{ body }}}
	    </div>
	  </div>
	  	<style>
			input.new-item:focus {
			  outline: none;
			}

			.jumbotron {
				background-color: #eea547;
			}
			.devourburger {
			  float: right;
			  
			}
			.deleteburger {
			  float: right;
			  
			}
			.newburger{
			  float: right;
			
			}
			.eatenitem{
				float: left;
			}
			li{
				font-size: 14px;
				font-family: sans-serif;
			}
			.panel-heading{
				background-color: #f5cd99;
			}
			.panel-body{
				background-color: #eee1d1;
			}
			.container{
				background-color: #f5cd99;
			}
			.burgeritem{
				font-size: 16px;
				font-family: sans-serif;
			}

		</style>
	</body>
</html>